/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    AncflowNF Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {
    // Input/Reference parameters
    input_fasta = "${projectDir}/protein_sequences.fasta"
    outdir = "${launchDir}/results"
    
    // Directory structure
    bin_dir = "${projectDir}/bin"
    
    // Pipeline specific parameters
    iqtree_model = 'LG+G+F'
    iqtree_bootstrap = 1000
    autophy_mode = 'monophyletic'
    
    // Max resource options
    max_memory = '128.GB'
    max_cpus = 32
    max_time = '240.h'
    
    // Help
    help = false
}

// Process-specific configuration
process {
    withName: 'MSA' {
        publishDir = [
            path: { "${params.outdir}/alignments" },
            mode: 'copy',
            pattern: 'aligned_protein_sequences.fasta'
        ]
    }
    
    withName: 'IQTREE' {
        publishDir = [
            path: { "${params.outdir}/iqtree" },
            mode: 'copy',
            pattern: 'IQ-TREE_output.*'
        ]
    }
    
    withName: 'AUTOPHY' {
        publishDir = [
            [
                path: { "${params.outdir}/autophy" },
                mode: 'copy',
                pattern: 'autophy/**',
                saveAs: { it.replace('autophy/', '') }
            ]
        ]
    }
    
    withName: 'ASR_AUTOPHY' {
        publishDir = [
            [
                path: { "${params.outdir}/logs" },
                mode: 'copy',
                pattern: 'asr_complete.txt'
            ],
            [
                path: { "${params.outdir}/asr" },
                mode: 'copy',
                pattern: 'ancestral_autophy.*'
            ],
            [
                path: { "${params.outdir}/asr" },
                mode: 'copy',
                pattern: 'ancestral_autophy_sequences.fasta'
            ],
            [
                path: { "${params.outdir}/asr" },
                mode: 'copy',
                pattern: 'clade_mrca_sequences.fasta'
            ],
            [
                path: { "${params.outdir}/asr" },
                mode: 'copy',
                pattern: 'alignment_clustered.fasta'
            ],
            [
                path: { "${params.outdir}/asr" },
                mode: 'copy',
                pattern: 'autophy_tree.nwk'
            ]
        ]
    }

}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// Available profiles
profiles {
    debug {
        dumpHashes = true
        process.beforeScript = 'echo $HOSTNAME'
        cleanup = false
        nextflow.enable.configProcessNamesValidation = true
    }
    
    conda {
        conda.enabled = true
        docker.enabled = false
        singularity.enabled = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enabled = false
        apptainer.enabled = false
        conda.channels = ['conda-forge', 'bioconda', 'defaults']
        process.conda = "${projectDir}/environment.yml"
    }
    
    mamba {
        conda.enabled = true
        conda.useMamba = true
        docker.enabled = false
        singularity.enabled = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enabled = false
        apptainer.enabled = false
        process.conda = "${projectDir}/environment.yml"
    }
    
    docker {
        docker.enabled = true
        conda.enabled = false
        singularity.enabled = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enabled = false
        apptainer.enabled = false
        docker.runOptions = '-u $(id -u):$(id -g)'
        process.container = 'ancflownf:latest'
    }
}

process.shell = ['/bin/bash', '-euo', 'pipefail']

nextflow.enable.configProcessNamesValidation = false

def trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
    overwrite = true
}
report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
    overwrite = true
}
trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
    overwrite = true
}
dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.mmd"
    overwrite = true
}

// Pipeline manifest
manifest {
    name = 'AncflowNF'
    author = 'Ryin Rouzbehani'
    homePage = 'https://github.com/rrouz/AncFlowNF'
    description = 'Ancestral Sequence Reconstruction of Monophyletic Clades'
    mainScript = 'main.nf'
    nextflowVersion = '!>=21.04.0'
    version = '1.0.0'
}

// Resource management functions
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min(obj, params.max_cpus as int)
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}
