/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    AncflowNF Nextflow modules config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Module specific configuration options
----------------------------------------------------------------------------------------
*/

process {
    withName: 'MSA' {
        label = 'process_medium'
        cpus = { check_max(4, 'cpus') }
        memory = { check_max(8.GB * task.attempt, 'memory') }
        maxRetries = 3
    }

    withName: 'IQTREE' {
        label = 'process_high'
        cpus = { check_max(8, 'cpus') }
        memory = { check_max(16.GB * task.attempt, 'memory') }
        time = { check_max(16.h, 'time') }
        maxRetries = 3
    }

    withName: 'AUTOPHY' {
        label = 'process_high'
        cpus = { check_max(4, 'cpus') }
        memory = { check_max(16.GB * task.attempt, 'memory') }
        time = { check_max(8.h, 'time') }
        maxRetries = 3
    }

    withName: 'ASR_AUTOPHY' {
        label = 'process_high'
        cpus = { check_max(8, 'cpus') }
        memory = { check_max(16.GB * task.attempt, 'memory') }
        time = { check_max(12.h, 'time') }
        maxRetries = 3
    }
}
